# This file is used to set environment variables 
# Set these to correspond with the TOC you want to inventory and the file you want to create
TOC_FILE=C:/git/azure-ai-docs-pr/articles/ai-foundry/toc.yml
URL_PATH=https://learn.microsoft.com/azure/ai-foundry/
OUTPUT_FILE=foundry-toc.csv

# Set these for the metadata extraction script
BASE_PATH=C:/git/azure-ai-docs-pr/articles/

# Set these to differet names to iterate on a script.  
# Or use the same name for each sript to update the same file
METADATA_FILE=foundry-toc.csv
METADATA_OUTPUT_FILE=foundry-toc.csv
CONTENT_FILE=foundry-toc.csv
CONTENT_OUTPUT_FILE=foundry-toc-content.csv
PIVOT_MAP_FILE=C:/git/azure-ai-docs-pr/zone-pivots/zone-pivot-groups.yml

# Set these for the docs agent functionality
DOCS_AGENT_ENDPOINT=https://mydemo-resource.services.ai.azure.com/api/projects/mydemo
DOCS_AGENT_ID=asst_eH8uOuJSTvNjzsjS0qsN3OoL
AGENT_OUTPUT_FILE=foundry-toc-with-agent-responses.csv
AGENT_DELAY_SECONDS=2
RESUME_PROCESSING=false
MAX_RETRIES=3
RETRY_DELAY_SECONDS=30

# Set these to use an AI Foundry model to summarize files 
# Get these values from AI Foundry
DEPLOYMENT_NAME=gpt-4.1-mini
ENDPOINT_URL="add your endpoint here"
